.appointments{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    background-color: #c4ddff;
    padding: 25px;
}
.appointments-header{
    display: flex;
}
.appointments-header h2{
 flex: 1;
}